{% extends 'base.html' %}

{% block content %}
<!-- ==== Intro Section Start ==== -->
<div class="intro-content">
	<h2 style="max-height: 0.2px; font-size: 1.78rem; float: center; color: #b1d4e0;">Who are we?</h2>
	<p style="padding:0px; line-height: 52px;">
		We are an organization that help you with your daily bills that you can't remember easily and sometimes you
		has to pay extra bucks.
	</p>
	<h2 style="text-align: center; font-size: 1.78rem; line-height: 52px; margin-top: 10px; color: #b1d4e0;">How we
		help you with?
	</h2>
	<p style="padding-right: 50px;padding-left: 50px;margin-top: 12px; ">
		We just remember you daily expenses like milk man, news paper man and many others. And in the month end we
		gave you the bill to pay. You can directly send the to his account through upi method or card payment with
		secure server
	</p>
	<div class="contact-container" id="contact-div"><a href="{{url_for('core.contact')}}"><span>Contact Us</span></a>
</div>
{% endblock content %}