{% extends 'base.html' %}
<!-- ==== Intro Section Start ==== -->

{% block content %}
	
<div class="bg-img"></div>
<div class="intro-content">
	<h1>We Print Your Bills</h1>
	<p class="tagline">
		<span class="change-container">
			<span class="changing">get what you want</span>
			<span class="changing">how you want it</span>
			<span class="changing">when you want it</span>
		</span>
	</p>
	<div class="header-btn animated bounceIn">
		<a href="{{url_for('users.login')}}"><span>Print Today</span></a>
	</div>
	<div class="social-menu">
		<ul>
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		</ul>

		<!-- social media -->
	</div>
</div>

{% endblock content %}  